.list-container {
  width: 307px;
  max-height: 100px;
  overflow: auto;
  border: 1px solid black;
  text-overflow: ellipsis;
  position: absolute;

  background: white;
}

.list-container-empty {
  width: 307px;
  height: 100px;
  overflow: auto;
  border: 1px solid black;
  text-overflow: ellipsis;
  position: absolute;
  text-align: center;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-container .list-element {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  outline: inherit;

  display: block;
  width: 100%;
  padding: 8px 16px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.list-container .list-element:hover,
.list-container .list-element:focus {
  background-color: #e0e0e0;
}

.list-container .list-element:active {
  background-color: #d1d1d1;
}

.autocomplete-input {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}

.autocomplete-container {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.loading {
  width: 20px;
  margin-left: 5px;
  vertical-align: middle;
}

.highlighted-text {
  color: blue;
  font-weight: bold;
}
